<div>
  <p>
    <ng2-odometer [number]="number$ | async" [config]="{theme: 'train-station', format: 'd', animation:'slide' }"></ng2-odometer>
  </p>
</div>

<div>
  <p>
    <ng2-odometer [number]="number2$ | async" [config]="{theme: 'train-station', format: 'd', animation:'slide' }"></ng2-odometer>
  </p>
</div>

<div>
  <p>
    <ng2-odometer [number]="number3$ | async" [config]="{theme: 'train-station', format: 'd', animation:'slide' }"></ng2-odometer>
  </p>
</div>

<div>
  <p>
    <ng2-odometer [number]="number4$ | async" [config]="{theme: 'train-station', format: 'd', animation:'slide' }"></ng2-odometer>
  </p>
</div>

